@use '../../../node_modules/bootstrap/scss/bootstrap.scss';
@use '../scss/variables/variables.scss' as*;

body {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-size: 48px;
    font-weight: 600;
    color: white;
    text-align: center;
}

hr {
    background-color: white;
    padding: 0.05rem;
    width: 15%;
    margin: auto;
}

.view {
    padding: 3rem 0;
    background-color: $primary-light;
    color: $lighter;
    margin-top: 3rem;

    &:hover {
        background-color: $lighter;
        color: black;
    }
}